<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--fyi, this next line(s) may be useful for something, but it doesn't help prevent javascript caching-->
    <!--
      <caching>
      <outputCache enableOutputCache="false"/>
      </caching>
      -->

  </system.web>
  
  <system.webServer>
    <!--fyi, this next line may be useful for something, but it doesn't help prevent javascript caching-->
    <!--
    <caching enabled="false"/>
    -->
    <staticContent>
      <!--FYI, this next line actually prevents javascript caching.  -->
      <clientCache cacheControlMode="DisableCache"/>
    </staticContent>
  </system.webServer>

</configuration>
